tabs{

  a:last-of-type{



  }
  .tabs-md .tab-button-icon{

    font-size: 28px;

  }

  a:nth-of-type(3){

    ion-icon{


      color: gold!important;
      font-size: 64px!important;
    }

  }






}
